*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    min-height: 20vh;
    background-image: linear-gradient(rgb(71, 106, 221), rgba(0, 204, 255, 0.062));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    background-color: rgba(255, 166, 0, 0.418);
    border-radius: .4rem;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    gap: .5rem;
    margin: 10px;
}

.activeNav{
    background-color: rgba(255, 174, 0, 0.63);
    border-radius: 10px;
    padding: .4rem;

}

a{
    text-decoration: none;
    transition: 1s;
}
main{
    min-height: 60vh;
    margin: 1rem;
  
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem ;
}

.card-slider{
    text-align: center;
    background-color: rgb(1, 121, 121) ;
    border-radius: 10px;
}
.nosotros_container{
    display: flex;
    flex-direction: column;
    
}

.nosotros__cards{
   padding: 10px;
   gap: 10px; 
}
.nosotros_img img{
    width: 20%;
}
.card{
    display: flex;
    align-items: center;
    width: 200px;
    height:400px;
    /* background-color: aqua; */

    margin: .5rem;
    padding: .5rem;
}
.card img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3px;
box-shadow: 0 2px 0 0 ;
}


/* contenedor grid */

.grid-container{
    /* width: 700px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    grid-template-rows: auto;
    grid-template-areas: "img1 img1 parrafo1 parrafo2"
                        "img1 img1 parrafo3 parrafo4"
                        "img2 img2 parrafo5 parrafo6"
                        "img2 img2 parrafo7 parrafo8";
    gap: 2rem;
}


.grid-img1{
    grid-area: img1;
    background-color: gray;
}
.c1{
    grid-area: parrafo1;
}
.c2{
    grid-area: parrafo2;
}
.c3{
    grid-area: parrafo3;
}
.grid-img2{
    grid-area: img2;
    background-color: gray;
}
.c4{
    grid-area: parrafo4;
}
.c5{
    grid-area: parrafo5;
}
.c6{
    grid-area: parrafo6;
}
.c7{
    grid-area: parrafo7;
}
.c8{
    grid-area: parrafo8;
}

.grid-item img{
    width: 100%;
}


.grid--img2{
    height: 200px;
}

/* contacto */

.contenedor-form-text{
    display: flex;
    
}

.contacto_container{
    display: inline-block;
    padding: 20px;
    gap: 20px;
    width: 50%;
}
.text_container{
    justify-content: center;
    width: 50%;
}

fieldset{
   border: none;
}
.contacto_boton{
    background-color: aqua;
    width: 5rem;
    height: 2rem;
    transition: 1.5s;
}

.contacto_boton:hover{
transform: scale(1.2);
}
.contenedor-form-text{
    display: flex;
}





footer{
    min-height: 20vh;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* transormaciones  */

a:hover{
    transform: scale(1.5);
}