

@import "./secundarios/reset";
@import "./secundarios/header";
@import"./secundarios/grid_index";
@import"./secundarios/footer";
@import"./secundarios/nosotros";
@import "./secundarios/productos";
@import"./secundarios/servicios";
@import"./secundarios/contacto";

.first-letter{
    text-align: center;
    &::first-letter{
        color: orange;
       font-size: larger;
       font-weight: bold;
    }
}
main{
    margin: 10px;
    padding: 10px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card{
        display: flex;
        align-items: center;
        width: 200px;
        height:400px;
        background-color: aqua; 
        margin: .5rem;
        padding: .5rem;
        & img{
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 3px;
        box-shadow: 0 2px 0 0 ;
        }
    }
   
}
a{
    transition: .6s;
    &:hover{
        transform: scale(1.5);
    }
}

@import"./secundarios/mediaQuerys"
