@media screen and (max-width:768px){
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        margin: 1.5rem;
        background-color: rgba(240, 168, 35, 0.61);
        .grid-img1{
            display: none;
        }
        .grid-img2{
            display: none;
        }
        .grid-item{
            background-color: rgba(71, 71, 240, 0.575);
            justify-content: center;
            align-items: center;
            text-align: center;
            & img{
                border-radius: 8px;
                width: 80%;

            }
        }
    }
}