.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem ;
    .card-slider{
        text-align: center;
        background-color: rgb(1, 121, 121) ;
        border-radius: 10px;
        transition: .9s;
        &:hover{
            transform: scale(1.2);
            box-shadow: 10px rgb(0, 81, 255);
        }
    }
}
