.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem ;
    .card-slider{
        text-align: center;
        background-color: rgb(1, 121, 121) ;
        border-radius: 10px;
        transition: .9s;
        &:hover{
            transform: scale(1.1);
            box-shadow:
       inset 0 -3em 3em rgba(0, 0, 0, 0.724),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
        }
    }
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 1rem;
    gap: .5rem;
    .lightbox {
        /* Default to hidden */
        display: none;
      
        /* Overlay entire screen */
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        /* A bit of padding around image */
        padding: 1em;
      
        /* Translucent background */
        background: rgba(0, 0, 0, 0.8);
        width: 100px;
       
      }
      
      /* Unhide the lightbox when it's the target */
      .lightbox:target {
        display: block;
      }
      
      .lightbox span {
        /* Full width and height */
        display: block;
        width: 100%;
        height: 100%;
      
        /* Size and position background image */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

}
.cardgaleria{
    width: 100%;
}
