.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  .card {
    display: flex;
    align-items: center;
    width: 200px;
    height: 400px;
    margin: 0.5rem;
    padding: 0.5rem;
    & img {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 2px 0 0;
    }
  }
}
